In [1]:
%run package_import.ipynb
%run data_profiling.ipynb

import os
os.chdir(path='/Users/liuyifu/Project_data')

In [ ]:
from sqlalchemy import create_engine
import pymysql

sqlEngine       = create_engine('mysql+pymysql://root:@127.0.0.1/seattle_airbnb', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

In [5]:
df_train = pd.read_csv('nlp_with_disaster_tweets/train.csv')
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation orders in California",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school,1